.home-content{
    display: grid;
    place-items: center;
    width: 70%;
}
.title{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
}
.desc{
    width: 60%;
    margin: 2rem 0;
}
.btn{
    padding: 0.5rem 1.25rem;
    border-radius: .5rem;
    background: #8478DD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn svg{
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .home-content{
        padding: 1em 3.85em 5em 3.85em;
        width: auto;
        margin: 10em auto;
    }
    .title{
        font-size: 2.5rem;
    }
    .desc{
        width: 80%;
    }
    .topnav span{
        font-size: .65em;
        font-weight: 500;
    }
}
@media screen and (max-width: 400px) {
    .home-content[_ngcontent-ng-c3181782756] {
        padding: 2em 3.85em 5em 3.85em;
        width: auto;
        margin: 10em auto;
    }
}