.home-content{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    overflow: auto;
}
.title{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    width: 85%;
}
.desc{
    width: 70%;
    margin: 2rem 0;
}
.tasks{
    padding: 0.5rem 1.25rem;
    border-radius: .5rem;
    background: #8478DD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn svg{
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .title{
        width: 70%;
    }
    .desc{
        width: 60%;
    }
    .topnav span{
        font-size: .65em;
        font-weight: 500;
    }
}
@media screen and (max-width: 480px) {
    .title{
        font-size: 2rem;
    }
    .tasks{
        margin-top: .75em;
    }
    .desc{
        font-size: 12px;
    }
    .tasks{
        font-size: 12px;
    }
}