<app-navbar></app-navbar>

<div class="home-content">
    <p class="title text-center">Managing your company's projects just got a lot easier</p>
    <p class="desc text-center">Lorem ipsum dolor sit amet consectetur. Viverra quisque euismod rhoncus mauris. Elementum ultricies justo sem eget. A sed in nec tortor parturient posuere tincidunt. Vitae ut pulvinar tortor ipsum sit tincidunt ultrices.</p>
    <button class="btn" routerLink="/task">View Tasks
        <svg width="14" height="14" viewBox="0 0 24 24" fill="#F2F0F4" xmlns="http://www.w3.org/2000/svg">
            <g stroke-width="0"/>
            <g stroke-linecap="round" stroke-linejoin="round"/>
            <path d="m12 3 1.43 5.312c.175.648.262.972.434 1.237a2 2 0 0 0 .587.587c.265.172.589.26 1.237.434L21 12l-5.312 1.43c-.648.175-.972.262-1.237.434a2 2 0 0 0-.587.587c-.172.265-.26.589-.434 1.237L12 21l-1.43-5.312c-.175-.648-.262-.972-.434-1.237a2 2 0 0 0-.587-.587c-.265-.172-.589-.26-1.237-.434L3 12l5.312-1.43c.648-.175.972-.262 1.237-.434a2 2 0 0 0 .587-.587c.172-.265.26-.589.434-1.237z" stroke="#F2F0F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>  
    </button>
</div>

<app-footer></app-footer>
