<div class="bottom-nav">
    <div class="socials">
        <a href="https://www.instagram.com/joan.thirimbu/" target="_blank">
            <embed src="../../../assets/instagram.svg" type="image/svg+xml"/>
        </a>
        <a href="https://github.com/Joan-Thirimbu/Task-Manager" target="_blank">
            <embed src="/task-forge/" type="image/svg+xml"/>
        </a>
        <a href="https://www.linkedin.com/in/joan-thirimbu-969008231/" target="_blank">
            <embed src="/task-forge/linkedIn.svg" type="image/svg+xml"/>
        </a>
    </div>
    <div class="author-div">
        <div class="author">
            <span>Designed & Developed by Joan Thirimbu</span>
        </div>
        <div class="copyright">
            <span><i class="fa-regular fa-copyright"></i> 2024</span>
        </div>
    </div>
</div>
