.socials{
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.socials::after{
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    background: #eaeaea;
}
a img{
    width: 30px;
    margin-bottom: 1.5em;
}
.author-div{
    display: flex;
    justify-content: space-between;
}
.author::before{
    content: "";
    display: block;
    height: 1px;
    width: 70px;
    margin-left: 2.5em;
    background: #eaeaea;
} 
.author{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.author span{
    font-size: .85em;
    margin-left: 1.5em;
}
.copyright{
    align-items: center;
    display: flex;
    justify-content: center;
}
.copyright span{
    font-size: .85em;
    margin-right: .5em;
}

@media screen and (max-width: 600px) {
    .author::before{
        width: 35px;
    }
    .socials::after{
        height: 35px;
    }
}