<!-- footer -->


<div class="bottom-nav">
    <div class="socials">
        <a href="mailto:joanwangare3@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://github.com/Joan-Thirimbu" target="_blank"><i class="fa-regular fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/joan-thirimbu-969008231/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/joan.thirimbu/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="author">
        <span>Designed & Developed by Joan Thirimbu</span>
    </div>
    <div class="copyright">
        <span><i class="fa-regular fa-copyright"></i> 2024</span>
    </div>
</div>