<h2 mat-dialog-title style="margin-bottom: 24px;">Edit task</h2>
<mat-dialog-content class="mat-typography dark-modal">
    <form #form="ngForm" class="form-content" (ngSubmit)="onSubmit(form)">
        <div class="form-div">
            <mat-form-field>
                <input matInput placeholder="Task Name" name="title" [(ngModel)]="task.title" required>
            </mat-form-field>
            <mat-form-field style="margin-right: 0;">
                <mat-label>Status</mat-label>
                <mat-select name="status" [(ngModel)]="task.status" required>
                    <mat-option *ngFor="let s of status" [value]="s.status">{{ s.status }}</mat-option>
                </mat-select>
                <mat-error *ngIf="!task.status">
                    Status is required
                </mat-error>
            </mat-form-field>            
        </div>
        <mat-form-field class="form-full-width">
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="task.description" matInput></textarea>
        </mat-form-field>
        <div class="actionBtn">
            <button class="update-btn" mat-button type="submit" cdkFocusInitial>Update</button>
        </div>
    </form>
</mat-dialog-content>