<h2 mat-dialog-title style="margin-bottom: 24px !important;">Add task</h2>
<mat-dialog-content class="mat-typography dark-modal">
    <form #form="ngForm" class="form-content" (ngSubmit)="onSubmit(form)">
        <div class="form-div">
            <mat-form-field>
                <input matInput placeholder="Task Name" name="title" ngModel required>
                <mat-error *ngIf="statusControl.hasError('required')">
                    Task Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 0;">
                <mat-label>Status</mat-label>
                <mat-select name="status" ngModel required #statusControl="ngModel" matSelect>
                    <mat-option *ngFor="let s of status" [value]="s">{{ s.status }}</mat-option>
                </mat-select>
                <mat-error *ngIf="statusControl.hasError('required')">
                    Status is required
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field class="form-desc">
          <textarea matInput placeholder="Description" name="description" ngModel matInput></textarea>
        </mat-form-field>
        <div class="actionBtn">
            <button class="save-btn" mat-button type="submit" cdkFocusInitial>Save</button>
        </div>
    </form>
</mat-dialog-content>
