@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

::before, ::after {
    text-decoration: underline;
    text-underline-offset: .3em;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #202020;
    color: #F2F0F4;
    height: 100%;
}
app-footer{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 2.5rem;
    background: #202020;
}
.mat-dialog-container {
    background-color: #262626 !important;
    color: #eaeaea;
    padding: 24px 24px 0 24px !important;
}
.mat-form-field-flex{
    padding: .75em .75em 0 .75em;
}
.mat-form-field{
    margin-right: 2rem;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #e2e2e28a;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #9a9a9a6b;
}
.mat-select-value {
    color: #eaeaea;
}
.mat-select-arrow {
    color: #e2e2e28a;
}
.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #9a9a9a6b;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #8478DD;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: #8478DD;
}
.mat-form-field.mat-focused .mat-select-arrow{
    color: #8478DD;
}
.mat-form-field-ripple {
  background-color: #9a9a9a6b;
}
.mat-form-field-label {
    color: #beb4b4;
}
.mat-dialog-content {
    padding: 24px !important;
}
.mat-dialog-actions{
    justify-content: end;
}
.mat-button, .mat-icon-button, .mat-stroked-button {
    background: #444;
}
.mat-button:first-child, .mat-icon-button:first-child, .mat-stroked-button:first-child{
    margin-right: .5rem;
}
.mat-dialog-content{
    overflow: hidden !important;
}
.mat-dialog-actions{
    display: none !important;
}
.mat-mdc-dialog-container .mat-mdc-dialog-title{
    margin-bottom: 24px;
    color: #eaeaea !important;
    border-bottom: 1px solid #9a9a9a6b;
}
.mat-mdc-dialog-surface.mdc-dialog__surface{
    background-color: #303030 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background: none !important;
}
.mat-mdc-select-trigger, .mat-mdc-select-arrow, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: #eaeaea !important;
}
.mat-mdc-form-field-focus-overlay{
    background-color: #eaeaea !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color:  #eaeaea !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
    border-bottom-color:  #8478DD !important;
}
.mat-mdc-option .mat-pseudo-checkbox{
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #8478DD !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
    color: #8478DD !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
    color: #eaeaea !important;
}
.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix{
    padding: 0 !important;
}
@media screen and (max-width: 600px) {
    app-footer{
        padding: .5rem 1rem;
    }
}